{% extends 'base.html' %}

{% block content %}
<h2>Текущие аукционы</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Название аукциона</th>
            <th>Описание</th>
            <th>Место</th>
            <th>Дата проведения</th>
            <th>Время старта</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for auction in auctions %}
        <tr>
            <td>{{ auction.auction_name }}</td>
            <td>{{ auction.description }}</td>
            <td>{{ auction.place }}</td>
            <td>{{ auction.auction_date.strftime('%d-%m-%Y') }}</td>
            <td>{{ auction.auction_time.strftime('%H:%M') }}</td>
            <td>
                {% if current_user.role_id == 3 %}
                    <a href="{{ url_for('add_item', auction_id=auction.id) }}" class="btn btn-primary">Выставить предмет</a>
                {% elif current_user.role_id == 2 or current_user.role_id == 1%}
                    <a href="{{ url_for('view_auction', auction_id=auction.id) }}" class="btn btn-success">Участвовать в аукционе</a>
                {% else %}
                    <span class="text-muted">Нет доступа</span>
                {% endif %}

                {% if current_user.role_id == 1%}
                <button type="button" class="btn btn-danger" 
                    data-bs-toggle="modal" 
                    data-bs-target="#deleteAuction"
                    data-action="{{ url_for('delete_auction', auction_id=auction.id) }}">
                    Удалить
                </button>           
                {% endif %}
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="deleteAuction" tabindex="-1" aria-labelledby="deleteAuctionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAuctionLabel">Подтверждение удаления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить аукцион "<span class="auction-title"></span>"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <form class="modal-form" method="POST" action="">
                    <button type="submit" class="btn btn-danger confirm-delete">Да, удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='deleteAuction.js') }}"></script>

{% endblock %}
