{% extends 'base.html' %}

{% block content %}
<h2>Предметы на аукционе: {{ auction.auction_name }}</h2>
<p>Описание: {{ auction.description }}</p>
<p>Место проведения: {{ auction.place }}</p>
<p>Дата проведения: {{ auction.auction_date.strftime('%d-%m-%Y') }}</p>
<p>Время старта: {{ auction.auction_time.strftime('%H:%M') }}</p>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Название предмета</th>
            <th>Описание</th>
            <th>Желаемая цена (₽)</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.lot_name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.price }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3" class="text-center">На этом аукционе пока нет предметов.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('add_item', auction_id=auction.id) }}" class="btn btn-primary mt-3">Добавить новый предмет</a>
{% endblock %}
